<%= form_for @user, url:  users_url(current_user), method: :patch, action: :update do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="fg-line">
      <%= f.text_field :name, class: "form-control floatlabel", placeholder: "Name" %>
    </div>
  </div>

  <div class="form-group ">
    <div class="fg-line">
      <%= f.text_field :phone_number, class: "form-control floatlabel", placeholder: "Phone Number" %>
    </div>
  </div>

 <div class="form-group">
    <div class="fg-line">
      <label for="user_gender" class="label-floatlabel" style="color: rgb(41, 150, 204);">Gender</label>
      <select class="selectpicker" name="user[gender]" id="user_gender">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    </div>
  </div>

<div class="input-group form-group">
  <span class="input-group-addon">
    <i class="zmdi zmdi-calendar"></i>
  </span>
  <div class="dtp-container fg-line">
    <input type="text" name="user[birth_date]" id="user_birth_date" class="form-control date-picker" placeholder="Birth date">
  </div>
</div>

  <div class="form-group">
     <div class="fg-line">
       <label for="user_martial_status" class="label-floatlabel" style="color: rgb(41, 150, 204);">Gender</label>
       <select class="selectpicker" name="user[martial_status]" id="user_martial_status">
         <option value="Single">Single</option>
         <option value="Married">Married</option>
         <option value="Divorced">Divorced</option>
       </select>
     </div>
   </div>


  <div class="form-group  ">
    <div class="fg-line">
      <%= f.text_field :description, class: "form-control floatlabel", placeholder: "Description" %>
    </div>
  </div>
<% end %>
<button class="btn btn-primary btn-lg" type="submit" form="edit_user_<%=current_user.id%>" value="Submit">Save</button>
