<% if notice.present? %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<%end%>

<div class="block-header">
  <h2>Profile</h2>
</div>
<div class="card" id="profile-main">
  <div class="pm-overview c-overflow">
    <div class="pmo-pic">
      <div class="p-relative">
        <a type="Button" class="pmop-edit" data-toggle="modal" data-target="#myModal">
          <i class="zmdi zmdi-camera"></i>
          <span class="hidden-xs">Update Profile Picture</span>
        </a>
        <%= render partial: 'avatar' %>
        <% if @user.avatar.blank? %>
           <%= image_tag('user.png', :class => 'img-responsive img-rounded md-margin-bottom-10') %>
         <%else%>
           <%= image_tag(@user.avatar) %>
         <%end%>
      </div>
    </div>


    <div class="pmo-block pmo-contact hidden-xs">
        <h2>Contact</h2>
        <ul>
            <li><i class="zmdi zmdi-phone"></i> <%= current_user.phone_number %></li>
            <li><i class="zmdi zmdi-email"></i> <%= current_user.email%></li>
        </ul>
    </div>
  </div>

  <div class="pm-body clearfix">
    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-equalizer m-r-5"></i>Summary</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view" data-ng-if="pctrl.editSummary === 0">
              <%= current_user.description %>
            </div>
        </div>
    </div>

    <div class="pmb-block">
        <div class="pmbb-header">
            <h2><i class="zmdi zmdi-person m-r-5"></i> Basic Information</h2>
        </div>
        <div class="pmbb-body p-l-30">
            <div class="pmbb-view" data-ng-if="pctrl.editInfo === 0">
                <dl class="dl-horizontal">
                    <dt>Full Name</dt>
                    <dd><%= current_user.name %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Gender</dt>
                    <dd><%= current_user.gender %></dd>
                </dl>
                <dl class="dl-horizontal">
                    <dt>Birth Date</dt>
                    <dd>
                    <% if current_user.birth_date.present? %>
                    <%= current_user.birth_date.strftime("%d %B %Y ") %></dd>
                    <% end %>

                </dl>
                <dl class="dl-horizontal">
                    <dt>Martial Status</dt>
                    <dd><%= current_user.martial_status %></dd>
                </dl>
            </div>
        </div>
    </div>
  </div>
</div>
