<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h1><%=@survey.title%></h1>
  <%= @survey.description %>
<br> <br>
  <div class="table-responsive">
    <table class="table table-hover">
      <tbody>
        <% @survey.questions.each_with_index do |question, index| %>
          <tr>
            <td>
              <h3><%= question.name %></h3> <br>
              <%#= f.hidden_field :question_id, value: question.id %>
              <%= hidden_field_tag "answer[#{index}][question_id]", question.id %>
              <% question.options.each_with_index do |option, i| %>
                  <div class="radio">
                    <label>
                      <%= radio_button_tag "answer[#{index}][option_id][]", option.id, class: 'radio' %>
                      <i class="input-helper"></i>
                      <%= option.text %>
                    </label>
                  </div>
              <% end %>
            </td>
            <td style="padding-left: 100px">
              <% if !question.video.blank? %>
                <%= video_tag(question.video, :size => "320x240", :controls => true, :autobuffer => true) %>
              <% end %>
              <% if !question.image.blank? %>
                <%= image_tag(question.image_url, style: 'width: 320px; height: 240px') %>
             <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<button class="btn btn-primary btn-lg" type="submit" form="new_answer" value="Submit">Submit</button>
