<li style="list-style: none">
  <div class="field">
    <div class="form-group">
      <div class="fg-line">
        <%= f.text_field :text, class: 'form-control', placeholder: 'Question Title' %>
      </div>
    </div>

    <ul class="options">
      <%= f.fields_for :options do |builder| %>
          <%= render "option_fields", :f => builder %>
      <% end -%>
    </ul>
    <%= link_to_add_field "+", f, :options %>
    <br/ >
    <%= link_to_remove_field "X", f %>
  </div>
</li>
