<% if notice.present? %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
    <strong><%= notice %></strong>
  </div>
<%end%>

<div class="block-header">
  <h2>My Surveys</h2>
</div>

<div class="card">
  <div class="listview lv-bordered lv-lg">
    <div class="lv-header-alt clearfix">
      <h2 class="lvh-label hidden-xs">Surveys</h2>
      <div class="lvh-search" style="display: none;">
        <%= search_form_for @surveys_search do |f|%>
          <%= f.text_field :title, placeholder: "Search", class: "lvhs-input"%>
          <i class="lvh-search-close">×</i>
        <%end%>
      </div>
      <div class="pull-right">
        <%= link_to 'New Survey', new_survey_path, class: 'btn btn-primary' %>
      </div>

      <ul class="lv-actions actions">
        <li>
          <a href="" class="lvh-search-trigger">
            <i class="zmdi zmdi-search"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="lv-body">
      <% if @surveys.any? %>
        <% @surveys.each do |survey| %>
          <div class="lv-item media">
            <div class="lv-item media list">
              <div class="col-md-8" style="padding-left: 0px">
                <strong><%= link_to survey.title, edit_survey_path(survey), style: 'color: #4285F4' %></strong> <br>
                <strong>Key: <%= survey.key %></strong>
              </div>

              <div class="col-md-2 pull-right">
                <strong><%= link_to "View Report", report_survey_path(survey) , style: 'color: #4285F4'%></strong>
              </div>
              <div class="lv-actions actions" id="button">
                <%= link_to survey, method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <i class="zmdi zmdi-delete zmdi-hc-fw"></i>
                <% end %>
              </div>
            </div>
          </div>
        <% end -%>
    <% else %>
      <div style="padding-left: 200px; padding-bottom: 20px; padding-top: 20px">
        <h3><%= link_to 'Create a new survey', new_survey_path %></h3>
      </div>
   <% end %>
    </div>
</div>
