<p id="notice"><%= notice %></p>

<div class="block-header">
  <h2>My Surveys</h2>
</div>

<div class="card">
  <div class="listview lv-bordered lv-lg">
    <div class="lv-header-alt clearfix">
      <h2 class="lvh-label hidden-xs">Surveys</h2>
      <div class="lvh-search" style="display: none;">
        <%#= search_form_for @surveys do |f|%>
          <%#= f.text_field :name, placeholder: "Search", class: "lvhs-input"%>
          <i class="lvh-search-close">×</i>
        <%#end%>
      </div>
      <div class="pull-right">
        <%= link_to 'New Survey', new_survey_path, class: 'btn btn-primary' %>
      </div>

      <ul class="lv-actions actions">
        <li>
          <a href="" class="lvh-search-trigger">
            <i class="zmdi zmdi-search"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="lv-body">
      <% @surveys.each do |survey| %>
        <div class="lv-item media">
          <div class="lv-item media list">
            <strong><%= link_to survey.title, edit_survey_path(survey) %></strong> <br>
            <strong><%= link_to 'Report', report_survey_path(survey) %></strong> <br>
            <strong>Key: <%= survey.key %></strong>
          </div>
        </div>
      <% end -%>
    </div>
</div>
