<% @survey.questions.each{|question| @survey_response.answers.build(question: question)} unless @survey_response.answers.any? %>

<%= form_for([@survey, @survey_response]) do |f| %>

    <%= render partial: 'shared/errors', object: @survey_response, as: :object %>

    <div class="pull-right" id="sticker">
       <h3 id="time">10:00</h3>
    </div>

    <h1><%=@survey.title%></h1>
    <%= @survey.description %>

    <br/> <br/>

    <div class="table-responsive">
      <table class="table table-hover">
        <tbody>

            <%= f.fields_for :answers do |answer_f| %>

                <% question = answer_f.object.question %>

                <tr>
                  <td>
                    <h4><%= question.name %></h4>

                    <%= answer_f.hidden_field :question_id %>

                    <%= answer_f.collection_radio_buttons(:option_id, question.options.all, :id, :text) do |radio_f| %>
                        <div class="radio">
                          <%= radio_f.label do %>
                              <%= radio_f.radio_button(class: 'radio') %>
                              <i class="input-helper"></i>
                              <%= radio_f.text %>
                          <% end %>
                        </div>
                    <% end %>
                  </td>

                  <td style="padding-left: 100px">
                    <% if !question.video.blank? %>
                        <%= video_tag(question.video.url, size: "320x240", controls: true, autobuffer: false) %>
                    <% end %>
                    <% if !question.image.blank? %>
                        <%= image_tag(question.image_url, style: 'width: 320px; height: 240px') %>
                    <% end %>
                  </td>
                </tr>
            <% end %>
        </tbody>
      </table>
    </div>

    <button class="btn btn-primary btn-lg" type="submit" value="Submit">Submit</button>

<% end %>

<script>
function startTimer(duration, display) {
    var timer = duration, minutes, seconds;
    setInterval(function () {
        minutes = parseInt(timer / 60, 10);
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (--timer === 0) {
          window.location.href="/surveys"
        }
    }, 1000);
}

window.onload = function () {
    var fiveMinutes = 60 * 1,
        display = document.querySelector('#time');
    startTimer(fiveMinutes, display);

};


</script>
