<aside id="sidebar">
  <div class="sidebar-inner c-overflow" tabindex="1" style="overflow: hidden; outline: none;">
    <div class="profile-menu toggled">
      <a href="">
          <div class="profile-pic">
            <div style="height:52px;"></div>
          </div>

          <div class="profile-info">
          <%= current_user.name%>
          </div>
      </a>
  </div>

    <ul class="main-menu">

    <li class="<%= "active" if controller.controller_name == "users" and controller.action_name == "index"%>">
      <%= link_to browse_surveys_path do%>
        <i class="zmdi zmdi-search zmdi-hc-fw "></i> Browse Surveys
      <%end%>
    </li>

    <li class="<%= "active" if controller.controller_name == "users" and controller.action_name == "index"%>">
      <%= link_to surveys_path do%>
        <i class="fa fa-book zmdi-hc-fw "></i> My Surveys
      <%end%>
    </li>

    <li class="<%= "active" if controller.controller_name == "users" and controller.action_name == "index"%>">
      <%= link_to edit_user_url(id: current_user) do%>
        <i class="zmdi zmdi-settings zmdi-hc-fw "></i> Settings
      <%end%>
    </li>
    </ul>
  </div>
</aside>
